body {
	margin: 0;
}

body, textarea, select {
	font-family: 'Raleway', Arial, sans-serif;
	font-size: 17px;
}

img {
	max-width: 100%;
}

img.smallimg {
	width: 10em;
}

img#footerimg {
	position: fixed;
	bottom: 0;
	z-index: -100;
}

div#footerplaceholder {
	height: 12em;
}

div#sidebar {
	width: 20%;
	height: 100%;
	position: fixed;
	padding: 1em;
	box-sizing: border-box;
	box-shadow: 0em 0em 2em 0em #444;
	top: 0;
	background-color: #fff;
}

div#sidebar > a {
	display: block;
	text-align: center;
	padding: 0.7em;
	font-family: 'Montserrat', Arial, sans-serif;
	font-size: 16px;
	letter-spacing: 1px;
}

div#sidebar > a.a_logo {
	width: 100%;
	padding: 0 0 0.2em 0;
}

div#sidebar > a.a_logo > img {
	width: 100%;
}

a, a:visited {
	text-decoration: none;
	color: #000;
}

a:active, a:hover, a.active {
	color: #d13d11;
}

h3 {
	margin: 0;
	font-size: 1em;
	font-weight: normal;
	font-style: italic;
}

div#mainarea {
	margin-left: 25%;
	margin-right: 3%;
}

div#mainarea > div, div#contentcontainer > div {
	margin-bottom: 0.5em;
}

div#mainarea > textarea {
	height: 8em;
}

div#mainarea > textarea, div#mainarea > select {
	width: 100%;
	margin-bottom: 0.5em;
}

div#mainarea > div#headline {
	margin: 1em;
	text-align: center;
	font-size: 1.5em;
}

div.divider {
	background-color: #F3E8CF;
	padding: 0.25em;
	border-radius: 0.25em;
}

div.buttonbar > a, div.buttonbar > div {
	display: block;
	background-color: #F3E8CF;
	padding: 0.5em;
	border-radius: 1em;
	text-align: center;
	margin-top: 1em;
	text-decoration: none;
	cursor: pointer;
	box-sizing: border-box;
}

div.buttonbar > div:hover, div.buttonbar > div.active {
	color: #d13d11;
}

div.buttonbar > div.oneoftwo {
	margin-top: 0%;
	display: inline-block;
	width: 47%;
}

div.buttonbar > div.oneoftwo:first-child {
	margin-right: 5%;
}

div.buttonbar > div.oneofthree {
	margin-top: 0%;
	display: inline-block;
	width: 31%;
	margin-left: 3%;
}

div.buttonbar > div.oneofthree:first-child {
	margin-left: 0%;
}

div.buttonbar > div.twoofthree {
	margin-top: 0%;
	display: inline-block;
	width: 65%;
	margin-left: 3%;
}

div.flexcontainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

div#contentcontainer > a {
	margin-right: 0.5em;
}

div.popup {
	display: none;
	border-radius: 2em;
	background-color: #ECB;
	padding: 1em;
	text-align: center;
	position: fixed;
	top: 1em;
	left: 1em;
	right: 1em;
	bottom: 1em;
	overflow-x: hidden;
	overflow-y: auto;
}

div#overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(255, 255, 255, 0.75);
	margin: 0;
}

canvas#snapshotCanvas {
	margin-top: 1.5em;
}

canvas, video {
	max-width: 100%;
}
